/*----------Indice-------------
		#partials
		#modules

	Importar-las-hojas-scss
*/

//  #partials
@import "partials/normalize";
@import "partials/variables";
@import "partials/mixins";
@import "partials/globals";

//	#modules
@import "partials/modules/navegation";
@import "partials/modules/header";
@import "partials/modules/header-welcome";
@import "partials/modules/";
@import "partials/modules/";
@import "partials/modules/contact";
@import "partials/modules/contact-form";
@import "partials/modules/contact-information";
@import "partials/modules/footer";


